<div class="flex flex-col items-center justify-center mt-10">
  <div class="relative w-64 h-64 mb-6">
    <img src="../../../assets/404.svg" alt="Página não encontrada" class="absolute top-0 left-0 w-full h-full" />
    <img src="../../../assets/404_2.svg" alt="Erro 404" class="animate-bounce motion-safe:animate-bounce absolute top-0 left-0 w-full h-full opacity-80" />
  </div>
  <p class="text-xl font-bold mt-6">Ops, parece que não tem nada aqui!</p>
  <button mat-flat-button color="primary" class="mt-6" routerLink="/">
    Voltar ao início
  </button>
</div>
