<div class=" container flex flex-col align-middle items-center justify-center mx-auto mt-4">
<mat-card class=" flex flex-col align-middle items-center justify-center mx-auto mt-4">
    <mat-card-title class="text-center my-8 p-8">
        Login
    </mat-card-title>
    <mat-card-content>
        <mat-form-field class="w-full">
            <input matInput placeholder="Email" name="email" [(ngModel)]="email" type="email"/>
        </mat-form-field>
        <mat-form-field class="w-full">
            <input matInput placeholder="Password" name="password" [(ngModel)]="password" type="password"/>
        </mat-form-field>
        
        
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary"
                class="login-field" (click)="login(email, password)" type="submit">
            Login
        </button>
    </mat-card-actions>
</mat-card>
</div>